$background-main: rgb(39, 39, 39);
$text-color-main: rgb(255, 255, 255);
$font-main: 'Arial, Helvetica, sans-serif';

$text-color-link: white;
$text-color-hover: rgb(10, 10, 10);
$background-hover: white;

$active-link: tomato;

$list-background: rgb(9, 100%, 64%);
$list-text: rgb(10, 10 , 10);
$list-text-background: whitesmoke;